# Logs
*.log

# Dependency directories
node_modules

# Turbo
.turbo
.cache

# Build files
dist
dist-ssr
server/dist
public/dist

# Storybook
storybook-static
*storybook.log

# Cypress
# cypress

# Misc
*.DS_Store
*.local
